<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>starss</h1>
    <%for(let item of arr){ %>
         <%= item %>
    <%}  %>

    <%for(let item of arr2){ %>
        <li><%= item %></li> 
    <%}  %>


</body>
</html>